.container__detailfilm {
    padding-top: 100px;
    display: flex;
    padding-right: 50px;
  padding-left: 25px;
  padding-bottom: 30px;

    .list-genre {
        display: flex;
        flex-direction: column;
        width: 15%;
        border-right: 0.3px solid #A4B2B8;
    
        h2 {
            padding-left: 10px;
            font-size: 20px;
        }
    
        button {
            background-color: white;
            border: none;
            color: #A4B2B8;
            padding: 8px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
    
            &:hover {
              width: 80%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 16px;
        line-height: 1;
        opacity: 1;
        color: #A4B2B8;
        cursor: pointer;
        padding: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: initial;
        border-image: initial;
        border-radius: 2rem;
        text-decoration: none;
        transition: all 100ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
            }
    
            svg {
              width: 10px;
              height: 10px;
              margin-right: 10px;
            }
        }
    
        .btn_listgenre {
            background-color: red;
        }
      }
}

.category-detail {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 100px;
    margin-top: 20px;
    

    .category__ol {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 30%;
        padding-left: 0px;
        margin-left: 0px;

        
        li {
            padding: 20px;

            a{
                text-decoration: none;
                color: black;
                    &:hover{
                        color: black;
            }
            }


        }
        
        
        li:hover {
            background-color: black;
            color: white;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .active {
            background-color: black;
            color: white;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


.display__fullycontainer {
   width: 10%; 
    .detail-container {
        padding: 100px;
    }
}


.no-load {
    height: 100vh;
}