.Mainphoto {
    width: 100%;
    object-fit: cover;
    opacity: 0.1 black;
    display: flex;
    height: 100vh;
    padding: 0px 100px;

    .container-desc {
        padding: 200px 50px;
        width: 45%;
        color: black;

        h2 {
            color: #263238;
            text-align: left;
            padding: 0px;
            font-size: 34px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 100;
            margin-bottom: 10px;

        }

        .iconawesome {
            color: yellow;
            margin-right: 10px;
            
        }

        p {
            font-size: 14px;
        }

        #title-synopsis {
            font-weight: 800;
            font-size: 18px;
            text-transform: uppercase;
        }
    }

    .cover-atas {
        margin-top: 100px;
        width: 30%;
        text-align: center;
        display: inline-flex;
        justify-content: center;

        img {
            width: 400px;
            height: 550px;
            display: flex;
            justify-content: center;
            margin-top: 40px;
            border-radius: 10px;
            box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.55);
            border-radius: 0.8rem;
            object-fit: cover;
          
        
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .button-play {
        display: flex;

        button {
            margin-right: 20px;
        }
    }

    button:hover {
        color: red;
        background-color: #fff;
        border: 2px solid red;
    }

    button {
        background-color: red;
        color: #fff;
        border: 2px solid #fff;
        width: 25%;
        margin-top: 1em;
        font-size: 0.8em;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-bottom: 0.25em;
        border-radius: 40px;
        padding: 20px;
        cursor: pointer;
    }

}