.container__slide {
    width: 45%;
    height: 15vh;

    .slide__img {

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}

.slick-slider {
    position: relative;
    display: block;
}

.slick-track {
    opacity: 1;
    transform: translate3d(-1518px, 0px, 0px);
    width: 4554px;
}